body {
    background-color: #222;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

#wonMessage {
    margin-left: 75px;
    width: 175px;
}

.hints {
    display: flex;
}

.letter {
    width: 60px;
    height: 60px;
    margin: 3px;
    background-color: #222;
    border: 2px solid #666;
    color: #ddd;
    font-size: 42px;
    text-align: center;
    line-height: 60px;
}

.key {
    width: 30px;
    height: 40px;
    margin: 2px;
    background-color: #777;
    color: #ddd;;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    border-radius: 4px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#enter {
    width: 54px;
    font-size: 12px;
}

#delete {
    width: 58px;
    font-size: 12px;
}

.guessed {
    background-color: #444;
}

.entered {
    background-color: #444;
    border-color: #444;
}

.partialMatch {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.exactMatch {
    background-color: darkgreen;
    border-color: darkgreen;
}

.selected {
    border-color: white;
}

#guesses {
    display: flex;
    flex-direction: column;
    margin: 28px;
    margin-top: 15px;
}

.guess {
    display: flex;
    justify-content: center;
}



